@model object
@using System.Collections
@using AutoAdmin.Mvc.Extensions;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">

        @foreach (var property in Model.GetType().GetProperties())
        {
            <dt>
               @Html.AutoLabelFor(property)
            </dt>
            <dd>
                @Html.AutoDisplayFor(property)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GetPrimaryKeyValue() }) |
    @Html.ActionLink("Back to List", "Index")
</p>
