@model object
@using System.Collections
@using AutoAdmin.Extensions
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">

        @foreach (var property in Model.GetType().GetProperties())
        {
            if (property.PropertyType.IsGenericType || property.PropertyType == typeof(IEnumerable))
            {
                continue;
            }
                <dt>
                    @property.Name
                </dt>
                <dd>
                    @property.GetValue(Model)
                </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GetPrimaryKey() }) |
    @Html.ActionLink("Back to List", "Index")
</p>
